
.main{
    display: flex;
    margin: 0.5em;
    flex-direction: column;
}
.top{
    min-height: 50px;
    margin: 0.5em;
    align-content: center;
}
.mid{
    display: flex;
    margin: 0.5em;
}
.mid_1{
    max-width: 200px;
    line-height: 30px;
}
.mid_2{
width:100%;
margin-left: 1em;
border: 1.3px dotted rgb(92, 92, 92);
}